

<mat-card>
  <h1> Əsas Məlumatlar <button mat-button> Çap et </button></h1>

    <mat-form-field class="example-form-field">
      <mat-label> Müraciətin tipi</mat-label>
      <input matInput type="text" [value]="'Vətəndaş müraciəti'">
    </mat-form-field>

    <mat-form-field class="example-form-field">
      <mat-label> Daxilolma Yolu</mat-label>
      <input matInput type="text" [value]="'Çağrı mərkəzi'">
    </mat-form-field>

    <mat-form-field class="example-form-field">
      <mat-label> Yazışmanın Nömrəsi </mat-label>
      <input matInput type="text" [value]="'15-Ə-00069-2020'">
    </mat-form-field>

    <mat-form-field class="example-form-field">
      <mat-label> Yazışmanın Statusu </mat-label>
      <input matInput type="text" [value]="'Gecişib'">
    </mat-form-field>

    <mat-form-field class="example-form-field">
      <mat-label> İcranın Xarakteri </mat-label>
      <input matInput type="text" [value]="'Dərkənar icra'">
    </mat-form-field>

    <mat-form-field class="example-form-field">
      <mat-label> Yazışmanın növü </mat-label>
      <input matInput type="text" [value]="'Bəyannamə'">
    </mat-form-field>

    <mat-form-field class="example-form-field">
      <mat-label> Yazışmanın mövzusu </mat-label>
      <input matInput type="text" [value]="'Mövcud prosedur qaydada ödədiyi dövlət rüsumun geri qaytarilması barədə'">
    </mat-form-field>

    <mat-form-field class="example-form-field">
      <mat-label> Məzmun </mat-label>
      <input matInput type="text" [value]="'Test 1 sıralanma'">
    </mat-form-field>

    <mat-form-field class="example-form-field">
      <mat-label> Qeyd </mat-label>
      <input matInput type="text" [value]="'Sıralanmada uyğunsuzlıq'">
    </mat-form-field>

    <mat-form-field class="example-form-field">
      <mat-label> Kimə ünvanlanıb </mat-label>
      <input matInput type="text" [value]="'SİNAM MMC'">
    </mat-form-field>

    <mat-form-field class="example-form-field">
      <mat-label> Dərkanar Sahibi </mat-label>
      <input matInput type="text" [value]="'Aynur Ulubəyova'">
    </mat-form-field>

    <mat-form-field class="example-form-field">
      <mat-label> Dərkanar </mat-label>
      <input matInput type="text" [value]="'Xahiş edirəm müvafiq qaydada baxasınız'">
    </mat-form-field>

    <mat-form-field class="example-form-field">
      <mat-label> İcra müdəti </mat-label>
      <input matInput type="text" [value]="'29.01.2021 12:58'">
    </mat-form-field>

    <mat-form-field class="example-form-field">
      <mat-label> Daxil olma tarixi </mat-label>
      <input matInput type="text" [value]="'21.12.2020 12:58'">
    </mat-form-field>

    <mat-form-field class="example-form-field">
      <mat-label> Yazişmanın Sahibi / Struktur bölmə </mat-label>
      <input matInput type="text" [value]="'Nərgiz Qədimova / Analtics and İmplementation team'">
    </mat-form-field>

    <mat-form-field class="example-form-field">
      <mat-label> İcraçı / Struktur bölmə </mat-label>
      <input matInput type="text" [value]="'Elçin Mahmudov / Sesda Layihə Qurupu'">
    </mat-form-field>
</mat-card>
