

<!--
<mat-sidenav-container> -->
<!--   <mat-sidenav #sidenav mode="side" [(opened)]="opened">



  </mat-sidenav> -->


<!--   <mat-sidenav-content> -->

<div class="history">
  <mat-card>
    <h1> Tarixçə </h1>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Tapşırıqın <br/> Məqsədi </th>
          <th scope="col"> Göndərən </th>
          <th scope="col"> Qəbul edən </th>
          <th></th>
          <th scope="col">Dərkanar</th>
          <th scope="col"> Tapşırığın nəticəsi</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td> <mat-icon>create</mat-icon> </td>
          <td> Elçin Mahmudov  </td>
          <td> Aynur Ulubəyova </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td><mat-icon class="red">manage_accounts</mat-icon></td>
          <td> Nərgiz Qədimova </td>
          <td> Aynur Ulubəyova </td>
          <td></td>
          <td></td>
          <td> İcraya yönəldilib </td>
        </tr>

        <tr>
          <td><mat-icon>manage_accounts</mat-icon></td>
          <td> Aynur Ulubəyova </td>
          <td> Nərgiz Qədimova </td>
          <td></td>
          <td>Nazirliyin şöbələrinin və xidmətlərinin rəhbərlərinə (aidiyatı üzrə)</td>
          <td> İcra imtina edilib </td>
        </tr>

        <tr>
          <td><mat-icon>manage_accounts</mat-icon></td>
          <td> Aynur Ulubəyova </td>
          <td> Elçin Mahmudov  </td>
          <td>Əsas İcraçı</td>
          <td> Xahiş edirəm müvafiq qaydada baxasınız </td>
          <td> İşə alınması üçin göndərilib </td>
        </tr>

        <tr>
          <td> <mat-icon> <mat-icon> article </mat-icon></mat-icon> </td>
          <td> Nərgiz Qədimova </td>
          <td> Aynur Ulubəyova </td>
          <td></td>
          <td></td>
          <td> İcraya yönəldilib </td>
        </tr>

        <tr>
          <td><mat-icon> remove_red_eye </mat-icon></td>
          <td> Nərgiz Qədimova </td>
          <td> Aynur Ulubəyova </td>
          <td></td>
          <td></td>
          <td> Dərkənarın yazılması üçin göndərilib </td>
        </tr>

        <tr>
          <td> <mat-icon> article </mat-icon> </td>
          <td> Nərgiz Qədimova </td>
          <td> Aynur Ulubəyova </td>
          <td></td>
          <td></td>
          <td> Qeydiyat Olunub </td>
        </tr>
      </tbody>
    </table>
  </mat-card>
</div>



<!--   </mat-sidenav-content>


</mat-sidenav-container> -->
<!--
<div class="history">
  <mat-card>
    <h1> Tarixçə </h1>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Tapşırıqın <br/> Məqsədi </th>
          <th scope="col"> Göndərən </th>
          <th scope="col"> Qəbul edən </th>
          <th></th>
          <th scope="col">Dərkanar</th>
          <th scope="col"> Tapşırığın nəticəsi</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td> <mat-icon>create</mat-icon> </td>
          <td> Elçin Mahmudov  </td>
          <td> Aynur Ulubəyova </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td><mat-icon class="red">manage_accounts</mat-icon></td>
          <td> Nərgiz Qədimova </td>
          <td> Aynur Ulubəyova </td>
          <td></td>
          <td></td>
          <td> İcraya yönəldilib </td>
        </tr>

        <tr>
          <td><mat-icon>manage_accounts</mat-icon></td>
          <td> Aynur Ulubəyova </td>
          <td> Nərgiz Qədimova </td>
          <td></td>
          <td>Nazirliyin şöbələrinin və xidmətlərinin rəhbərlərinə (aidiyatı üzrə)</td>
          <td> İcra imtina edilib </td>
        </tr>

        <tr>
          <td><mat-icon>manage_accounts</mat-icon></td>
          <td> Aynur Ulubəyova </td>
          <td> Elçin Mahmudov  </td>
          <td>Əsas İcraçı</td>
          <td> Xahiş edirəm müvafiq qaydada baxasınız </td>
          <td> İşə alınması üçin göndərilib </td>
        </tr>

        <tr>
          <td> <mat-icon> <mat-icon> article </mat-icon></mat-icon> </td>
          <td> Nərgiz Qədimova </td>
          <td> Aynur Ulubəyova </td>
          <td></td>
          <td></td>
          <td> İcraya yönəldilib </td>
        </tr>

        <tr>
          <td><mat-icon> remove_red_eye </mat-icon></td>
          <td> Nərgiz Qədimova </td>
          <td> Aynur Ulubəyova </td>
          <td></td>
          <td></td>
          <td> Dərkənarın yazılması üçin göndərilib </td>
        </tr>

        <tr>
          <td> <mat-icon> article </mat-icon> </td>
          <td> Nərgiz Qədimova </td>
          <td> Aynur Ulubəyova </td>
          <td></td>
          <td></td>
          <td> Qeydiyat Olunub </td>
        </tr>
      </tbody>
    </table>
  </mat-card>
</div> -->
