

<mat-card>
  <div class="fx">
    <h1 class="left"> Sənədlər</h1>
    <button mat-button class="right"><mat-icon>done</mat-icon></button>
  </div>
  <div class="fx">

    <div>
      <mat-icon class="desc">description</mat-icon>
      <span class="span">test1</span>
      <span class="span">test2</span>
      <span class="span">test3</span>
      <span class="span">test4</span>
    </div>

    <div>
      <span style="font-weight: 500;"> Əsas Sənəd</span>
      <mat-icon class="ml">remove_red_eye</mat-icon>
      <mat-icon class="ml"> download </mat-icon>
    </div>
  </div>


  <div class="frame">
    <object>
      <iframe src='https://pdfjs-express.s3-us-west-2.amazonaws.com/docs/choosing-a-pdf-viewer.pdf'>

      </iframe>

    </object>
    </div>
</mat-card>
<!--https://polisci.wustl.edu/files/polisci/imce/l32_3781_sened.pdf-->
